body {
    margin: 0;
    background-color: #26203d;
}

#main {
    opacity: 1
}

#bg_img:after {
    position: absolute;
    content:'';
    z-index:-1;
    background-image: url("imgs/seele-white.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 50%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0.02;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;

    position: relative;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #393058;
    height: 5rem;
    width: 33rem;
    border-radius: 20px;
}

#first_content {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    top: 7rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #393058;
    height: auto;
    width: 40rem;

    border-radius: 20px;

    transition: background-color 100ms linear;
}

#desc_content {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    top: 9rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #393058;
    height: auto;
    width: 50rem;

    border-radius: 20px;

    transition: background-color 100ms linear;
}

#invite_content {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    top: 13rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #393058;
    height: auto;
    width: 20rem;

    border-radius: 20px;

    transition: background-color 100ms linear;
}

#invite_link {
    margin: 30px;
}

#github {
    position: fixed;
    bottom: 0;
    right: 0
}

#caption, #title, #title_features {
    font-family: 'Roboto';

    margin-left: 60px;
    margin-right: 60px;
    color: white;
    font-weight: bold;   
}

.last {
    margin-bottom: 40px;
}

#title, #title_features {
    margin: 20px;
    font-size: 28px;
}

#title_features {
    text-decoration: underline;
}

#caption {
    font-size: 25px;
}

#commands, #changelog, #separator_1, #home {
    font-family: 'Roboto';

    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#invite_link {
    font-family: 'Roboto';

    color: white;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

#github {
    font-family: 'Roboto';
    color: #605196;

    font-size: 15px;
}

#commands:hover, #changelog:hover, #home:hover, #invite_link:hover {
    color:#8972e4
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

#first_content:hover, #desc_content:hover {
    background-color: #473c6b
}